@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+Rounded+1c&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, input, button{
  font-family: "Roboto", sans-serif;
}
button{
  cursor: pointer;
}

/* WrongRouteDiv */
.wrongRouteDiv{
  text-align: center;
  color:#57768c;
  letter-spacing: 2px;
  margin-top: 200px;
}
.wrongRouteDiv h1{
  font-size: 100px;
  color:#db585c;
  
}


/* NAVBAR */

.navBar{
  height: 120px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}
.navBar h1{
  letter-spacing: 2px;
  color: #465f71;
}

#logoImg{
  width: 70px;
  height: 70px;
}

/* Section */

.landingSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}
.landingInfo{
  margin-right: 76px;
}
.landingInfo h1{
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #465f71;
}
.landingInfoPara{
  font-size: 15px;
  color: #88a7bb;
  padding: 5px 0px;
  font-weight: 500;
  letter-spacing: 1px;
}

.lineDesign{
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
.lineDesign div{
  width: 100px;
  height: 5px;
  
}
.lineDesign .line1{
  background-color: #465f71;
}
.lineDesign .line2{
  background-color: #e2474b;
}
.lineDesign .line3{
  background-color: #ffbfab;
}

.clickToLoginBtn{
  letter-spacing: 2px;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 50px;
  background-color: #e2474b;
  color: white;
  border: none;
  border-radius: 20px;
  transition: 0.3s ease-in-out 0s;
  cursor: pointer;
}
.clickToLoginBtn:hover{
  background-color: #db585c;
}
.clickToLoginBtn:active{
  transform: scale(0.95);
}

.landingImage img{
 height: 500px;
 width: 680px;
}

/* LOGIN PAGE */
.loginpageContainer{
  height: 100vh;
}
.adminLoginLinkDiv{
  text-align: center;
  margin-top: 60px;
}
.adminLoginLink{
  text-decoration: none;
}
.adminLoginLink p{
  display: inline-block;
}
.adminLoginLink p{
  color: #465f71;
  cursor: pointer; 
}
.adminLoginLink p:hover{
 color: #57768c;
}
.adminLoginLink p:active{
  transform: scale(0.95);
  /* color: blue; */
}
.loginPageSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 20px auto;
}

.loginPageImage img{
  width: 670px;
  height: 100%;
}

.loginDiv{
  width: 40%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loginIcon{
  height: 45px;
  width: 45px;
}
.loginDiv h1{
  color: #465f71;
  padding-bottom: 30px;
}
.loginDiv input{
  width: 100%;
  padding: 12px 15px;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-bottom: 1px solid #b3cedf;
  color: #465f71;
  font-size: 15px;
}
.loginDiv input::placeholder{
  color: #465f71;
  font-size: 14px;
}
.loginDiv input:active{
  border: 1px solid #b3cedf;
}

.LoginBtn{
  letter-spacing: 2px;
  font-size: 16px;
  padding: 10px 80px;
  margin-top: 30px;
  background-color: #e2474b;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out 0s;
}
.LoginBtn:hover{
  background-color: #db585c;
}
.LoginBtn:active{
  transform: scale(0.95);
}

/* Voting page */
.profileVotingDiv{
  display: flex;
  width: 100vw;
}
.profileSection{
  letter-spacing: 1px;
  width: 20%;
  min-height: calc(100vh - 120px);
  background-color: #d4e4f3;
  color: #465f71;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}
.profilePicDiv{
  text-align: center;
  margin-bottom: 20px;
}
.profilePicDiv > img{
  width: 100px;
  height: 100px;
}
.profileSection > p{
  padding: 5px;
}
.lineAboveLogout{
  width: 80%;
  height: 1px;
  background-color: #465f71;
  margin-top: 20px;
}
.logoutDiv{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.logoutDiv img{
  width: 20px;
  height: 20px;
}
.logoutDiv p:hover{
  cursor: pointer;
  color: #57788f;
}
.logoutDiv p:active{
  transform: scale(0.99);
}
.votingSection{
  width: 80%;
  padding-top: 20px;
  position: relative;
}
.votingSection > h1 {
  text-align: center;
  letter-spacing: 2px;
  color: #465f71;
  padding-bottom: 20px;

}
.timer{
  position: absolute;
  top: 2.7%;
  right: 10%;
  font-size: 40px;
  color: #465f71;
  font-weight: 500;
}
.userCandidatesSection{
  padding: 0px 20px;
}
.candidateBox{
  width: 97%;
  margin:20px  auto;
  padding: 20px 40px;
  height: fit-content;
  background-color: #d4e4f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.candidateDetails{
  display: flex;
  align-items: center;
}
.candidateDetails img{
  width: 100px;
  height: 100px;
}
.candidateDetails h2{
  color: #465f71;
  letter-spacing: 1px;
  padding-left: 20px;
}
.candidateSymbolBtnDiv{
  display: flex;
  align-items: center;
  gap: 30px;
}
.candidateSymbolBtnDiv img{
 width: 80px;
 height: 80px;
}
.voteBtn{
  height: 35px;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 10px 80px;
  background-color: #e2474b;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out 0s;
}
.voteBtn:hover{
  background-color: #db585c;
}
.voteBtn:active{
  transform: scale(0.95);
}

/* Thankyou page */
.thanksDiv{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.thankyouImage img{
    position: relative;
  }

.thankYouText{
  font-size: 40px;
  color: #465f71;
}
.votedText{
  font-size: 20px;
  color: #809aad;
}
.thankyouTextDiv{
  position: absolute;
  bottom: 190px;
  text-align: center;
}
