@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+Rounded+1c&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, input, button{
  font-family: "Roboto", sans-serif;
}

/* WrongRouteDiv */
.wrongRouteDiv{
  text-align: center;
  color: #465f71;
  letter-spacing: 2px;
  margin-top: 200px;
}
.wrongRouteDiv h1{
  font-size: 150px;
}


/* NAVBAR */

.navBar{
  height: 140px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}
.navBar h1{
  letter-spacing: 2px;
  color: #465f71;
}

#logoImg{
  width: 70px;
  height: 70px;
}

/* Section */

.landingSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}
.landingInfo{
  margin-right: 76px;
}
.landingInfo h1{
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #465f71;
}
.landingInfoPara{
  font-size: 15px;
  color: #88a7bb;
  padding: 5px 0px;
  font-weight: 500;
  letter-spacing: 1px;
}

.lineDesign{
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
.lineDesign div{
  width: 100px;
  height: 5px;
  
}
.lineDesign .line1{
  background-color: #465f71;
}
.lineDesign .line2{
  background-color: #e2474b;
}
.lineDesign .line3{
  background-color: #ffbfab;
}

.clickToLoginBtn{
  letter-spacing: 2px;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 50px;
  background-color: #e2474b;
  color: white;
  border: none;
  border-radius: 20px;
  transition: 0.3s ease-in-out 0s;
  cursor: pointer;
}
.clickToLoginBtn:hover{
  background-color: #db585c;
}
.clickToLoginBtn:active{
  transform: scale(0.95);
}

.landingImage img{
 height: 500px;
 width: 680px;
}

/* LOGIN PAGE */

.loginPageSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 20px auto;
}

.loginPageImage img{
  width: 670px;
  height: 100%;
}

.loginDiv{
  width: 40%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loginIcon{
  height: 45px;
  width: 45px;
}
.loginDiv h1{
  color: #465f71;
  padding-bottom: 30px;
}
.loginDiv input{
  width: 100%;
  padding: 12px 15px;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-bottom: 1px solid #b3cedf;
  /* border-radius: 5px; */
  color: #465f71;
  font-size: 15px;
}
.loginDiv input::placeholder{
  color: #465f71;
  font-size: 14px;
}
.loginDiv input:active{
  border: 1px solid #b3cedf;
}

.LoginBtn{
  letter-spacing: 2px;
  font-size: 16px;
  padding: 10px 80px;
  margin-top: 30px;
  background-color: #e2474b;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out 0s;
}
.LoginBtn:hover{
  background-color: #db585c;
}
.LoginBtn:active{
  transform: scale(0.95);
}

/* Voting page */
.votingSection{
  position: relative;
}
.votingSection > h1 {
  text-align: center;
  letter-spacing: 2px;
  color: #465f71;
  padding-bottom: 20px;

}
.timer{
  position: absolute;
  top: -1.5%;
  right: 10%;
  font-size: 40px;
  color: #465f71;
  font-weight: 500;
}

.candidateBox{
  width: 90%;
  margin:20px  auto;
  padding: 20px 40px;
  height: fit-content;
  background-color: #d4e4f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CandidateDetails{
  display: flex;
  align-items: center;
}
.CandidateDetails img{
  width: 100px;
  height: 100px;
}
.CandidateDetails h2{
  color: #465f71;
  letter-spacing: 1px;
  padding-left: 20px;
}

.voteBtn{
  letter-spacing: 2px;
  font-size: 16px;
  padding: 10px 80px;
  background-color: #e2474b;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out 0s;
}
.voteBtn:hover{
  background-color: #db585c;
}
.voteBtn:active{
  transform: scale(0.95);
}

/* Thankyou page */
.thanksDiv{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.thankyouImage img{
    position: relative;
  }

.thankYouText{
  font-size: 40px;
  color: #465f71;
}
.votedText{
  font-size: 20px;
  color: #809aad;
}
.thankyouTextDiv{
  position: absolute;
  bottom: 190px;
  text-align: center;
}
